.buttonPipeline {
    background-color: transparent;
    color: #307fe6;
    font-size: 15px;
    font-family: monospace;
    letter-spacing: 1px;
    border-color: transparent;
}
.buttonPipeline:hover {
    color: rgba(0, 0, 0, 0.62);
    border-color: transparent;
}

.buttonPipeline:focus {
    color: #307fe6;
    border-color: transparent;
}