.AlgorithmInput {
    height: auto;
    width: 300;
}

.AlgorithmRow {
    margin-bottom: 5px;
}

.AlgorithmInputPrefix {
    color: black;
}

.tablePagination {
    padding-right: 30px;
}

.empty{
    margin-top: 20px;
}