.ant-menu-submenu > .ant-menu {
  background-color: #ececeb;
}

.logo {
  margin: 16px;
  text-align: center;
  font-size: 50px;
  color: transparent;
  width: -webkit-fill-available;
}

.header-title {
  text-transform: uppercase;
  color: #307fe6;
  font-size: 30px;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 1px;
}

.tag {
  color: #45a9ec;
}

.ant-alert.ant-alert-closable {
  padding-right: 40px;
}

.alert {
  align-self: center;
  position: fixed;
  z-index: 3;
  margin-top: 10px;
}

.menu-icon {
  font-size: 40px;
}

.font-reset,
html > body {
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: monospace, Roboto, sans-serif; // Old font variant
}

.layout-header {
  background: white;
  border-bottom: 1pt solid #ccc;
  text-align: center;
}

.layout {
  height: 100vh;
}

.sider,
.menu {
  background: #ececec;
}

.content {
  background: white;
}

.ant-layout-sider-trigger {
  color: #2f8ee6;
  background: #dedede87;
}
