@import '~antd/dist/antd.css';

.ant-tooltip-inner {
  background-color: white;
  color: black;
}

.ant-table-fixed-header .ant-table-scroll .ant-table-header {
  overflow: hidden !important;
  margin-bottom: 0px !important;
}

.ansi-view-class {
  white-space: pre-line;
}
