.carouselDot{
  line-height: 10px;
  cursor: default;
  font-size: 50px;
  &:hover{
    color:#eee;
  }
  &-active{
    color: #ccc;
  }
}

#carouselDots{
  margin: 10px 0;
  text-align: center;
  height:10px;
}
