$dark-blue: #39536f;
$darker-blue: #27415d;
$lighter-blue: #dbe2e8;
$light-blue: #73a7d4;
$cream-gray: #f4f4f4;
$light-gray: #ecf0f1;
$medium-gray: #95a5a6;
$medium-dark-gray: #f8f8f8;
$dark-gray: #555555;
$dark-green: #02943d;
$modal-background-color: #f9f9f9;
$modal-header-color: #39536f;
$panel-background-color: #f5f5f5;
$panel-border-color: #ebebeb;
$selected-highlight-color: #eceff2;
$utility-text-color: #4a7d9e;
$tab-border-color: #35536d;
$search-border-color: #000;
$facets-background-color: #35536d;
$facets-text-button: #6a88ad;
$facet-header-background: #6e8cac;
$label-color: #485360;
$input-border-color: #e1e1e1;
$select-option-color: #6588ab;
$red: #e74c3c;
