.button {
  text-align: center;
  position: absolute;
  width: 56px;
  height: 56px;
  top: 90%;
  right: 3%;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}
